<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xdl.shirodemo.mapper.RoleMapper">
    <resultMap id="roleMap" type="com.xdl.shirodemo.entity.Role">
        <result column="id" jdbcType="INTEGER" property="id"></result>
        <result column="role_name" jdbcType="VARCHAR" property="roleName"></result>
    </resultMap>
    <select id="selectRoleByUserName" resultType="com.xdl.shirodemo.entity.Role">
        select * from myschema.role where id in (select role_id from myschema.user_role
        where user_id=(select id from myschema.user where name=#{userName}))
    </select>

</mapper>